{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Juego de pronosticos{% endblock %}</title>

  <!-- ✅ globales Layout / Theme -->
  <link rel="stylesheet" href="{% static 'app.css' %}">

  {# optional: seiten-spezifische css (nur wenn nötig) #}
  {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- DEPLOY_MARKER: ba58ea6 -->
  {% include "tipping/_nav.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {# optional: seiten-spezifisches JS #}
  {% block extra_js %}{% endblock %}
</body>
</html>