{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}Juego de pronósticos{% endblock %}
  </title>

  <link rel="stylesheet" href="{% static 'app.css' %}">

  {% block extra_head %}{% endblock %}
  {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <!-- DEPLOY_MARKER: allauth-layout-2026-07-13 -->

  {% include "tipping/_nav.html" %}

  <main class="{% block main_class %}{% endblock %}">
    {% block page_content %}
      {% block content %}{% endblock %}
    {% endblock %}
  </main>

  {% block extra_js %}{% endblock %}
</body>
</html>